form {
  display: flex;
  flex-direction: column;

  & .cta {
    margin: 10px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    & button {
      margin: 0 10px;
    }
  }
}
