.hidden-video{
  border-left: 3px solid red;
}
.custom-select-field .mat-form-field-wrapper {
  font-size: 12px; /* Tamaño de fuente más pequeño */
  min-width: 120px; /* Ancho mínimo personalizado */
}
