<div class="help-container">
  <h1 _ngcontent-ovd-c27="">Acerca de Picta</h1><strong>¿Qué es Picta?</strong><br _ngcontent-ovd-c27="">
  <p _ngcontent-ovd-c27=""> Picta es la plataforma cubana de contenidos audiovisuales desarrollada por la Universidad
    de las Ciencias Informáticas. Ofrece el servicio de televisión en vivo a través de streaming de video. </p><br
    _ngcontent-ovd-c27=""><strong _ngcontent-ovd-c27="">¿Por qué el nombre Picta?</strong><br _ngcontent-ovd-c27="">
  <p _ngcontent-ovd-c27=""> Se parte de la idea de darle a la plataforma una identidad que reflejara tanto colorido
    como soberanía, por lo que se toma como tema a la Polymita picta, una especie endémica de Cuba considerada el
    caracol más bello del mundo. Luego se unen en un solo isotipo la espiral colorida de la Polymita picta con el
    símbolo triangular de reproducción (play) para evocar el objetivo de la plataforma que es la difusión de
    audiovisuales. Con la unión al nombre (Picta) se crea un imagotipo atractivo, moderno y que transmite la razón de
    ser de la plataforma de contenidos audiovisuales. </p><br _ngcontent-ovd-c27="">
</div>