h3 {
  margin: 10px 0;
  text-align: center;
}

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  & .form-row {
    width: 100%;

    & mat-form-field {
      width: 100%;
    }
  }

  & .cta {
    margin: 10px 30px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;

    & button {
      margin: 0 10px;
    }
  }
}

