.container {
  width: 98%;
  margin: 25px auto;

  & h1 {
    text-align: center;
  }

  & .add-button {
    margin: 15px 0;
  }

  & .mat-raised-button {
    padding: 0 5px;
  }

  & table {
    width: 100%;
  }
}
