.dash-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
}

.blue-back {
  background-color: #2196F3;
  color: white;
}

.cyan-back {
  background-color: #00BCD4;
  color: white;
}

.red-back {
  background-color: #f44336;
  color: white;
}

.yellow-back {
  background-color: #FFC107;
  color: white;
}


