<form [formGroup]="form" class="flex flex-col">
  <mat-form-field appearance="fill">
    <mat-label>Usuarios</mat-label>
    <mat-chip-grid #chipListUser required>
      <mat-chip-row (removed)="removeUser(user)" *ngFor="let user of this.selectedUsuarios" [removable]="true"
        focus="true">
        {{user}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip-row>
      <input #userInput (matChipInputTokenEnd)="addUser($event)" [formControl]="usersCtrl" [matAutocomplete]="users"
        [matChipInputAddOnBlur]="false" [matChipInputFor]="chipListUser"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
    </mat-chip-grid>
    <mat-error *ngIf="chipListUser.errorState">Debe seleccionar al menos un usuario.</mat-error>
    <mat-autocomplete #users="matAutocomplete" (optionSelected)="selectedUser($event,userInput)">
      <mat-option *ngFor="let user of usersFiltrados |async" [value]="user">
        {{user.username}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Mensaje</mat-label>
    <input formControlName="msg" matInput type="text">
  </mat-form-field>
  <mat-form-field appearance="fill" floatLabel="always">
    <input hidden matInput type="text">
    <mat-label>Correo</mat-label>
    <mat-slide-toggle [formControl]="checkControl"></mat-slide-toggle>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Asunto</mat-label>
    <input formControlName="subject" matInput type="text">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Mensaje</mat-label>
    <input formControlName="body" matInput type="text">
  </mat-form-field>
</form>
<div class="responsive-section">
  <button color="warn" mat-flat-button routerLink="/notifications">Cancelar</button>
  <button (click)="save()" color="primary" mat-flat-button>Guardar</button>
</div>