<mat-nav-list>
  <a (click)="seeDetails()" mat-list-item>
    <mat-icon matListIcon>list</mat-icon>
    <span mat-line>Detalles</span>
  </a>
  <a (click)="bsRef.dismiss()" [routerLink]="['/seller/edit', data.seller.id]" mat-list-item>
    <mat-icon matListIcon>edit</mat-icon>
    <span mat-line>Editar</span>
  </a>
  <a (click)="toggleVisibility()" mat-list-item>
    <mat-icon matListIcon>{{ data.seller.active ? "visibility_off" : "visibility" }}</mat-icon>
    <span mat-line>{{data.seller.active ? 'Desactivar' : 'Activar'}}</span>
  </a>
  <a (click)="delete()" mat-list-item>
    <mat-icon matListIcon color="warn">delete</mat-icon>
    <span mat-line>Eliminar</span>
  </a>
</mat-nav-list>