<div class="tipologia-container p-3">
  <fieldset class="w-full">
    <legend class="mat-title">Adicionar tipología:</legend>
    <form [formGroup]="tipologiaForm" class="form-inline">
      <input formControlName="id" hidden type="text">
      <mat-form-field color="primary" floatLabel="auto">
        <mat-label>Nombre</mat-label>
        <input formControlName="nombre" matInput type="text">
      </mat-form-field>
      <mat-form-field color="primary" floatLabel="auto">
        <mat-label>Modelo</mat-label>
        <mat-select formControlName="modelo">
          <mat-option value="video">Video</mat-option>
          <mat-option value="reportaje">Reportaje</mat-option>
          <mat-option value="documental">Documental</mat-option>
          <mat-option value="pelicula">Película</mat-option>
          <mat-option value="capitulo">Capítulo</mat-option>
          <mat-option value="curso">Curso</mat-option>
          <mat-option value="audio">Audio</mat-option>
          <mat-option value="categoria">Categoría</mat-option>
          <mat-option value="videoclip">Videoclip</mat-option>
          <mat-option value="live">Live</mat-option>
          <mat-option value="eventotipologia">Evento</mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="addTipologia()" *ngIf="!isEditMode" color="primary" mat-raised-button>Adicionar</button>
      <button (click)="updateTipologia()" *ngIf="isEditMode" color="primary" mat-raised-button>Actualizar</button>
    </form>
    <div *ngIf="errorTxt" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{errorTxt}}</strong>
      <button aria-label="Close" class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </fieldset>
  <h3 class="mat-title text-center">Listado de tipologías</h3>
  <div class="w-full">
    <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>
    <table #tableTipologias [dataSource]="tipologiasDataSource" class="w-full" mat-table matSort>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14">Id</th>
        <td *matCellDef="let element" mat-cell class="mat-body-1">{{element.id}}</td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th *matHeaderCellDef mat-header-cell mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14">Nombre</th>
        <td *matCellDef="let element" mat-cell class="mat-body-1">{{element.nombre}}</td>
      </ng-container>
      <ng-container matColumnDef="modelo">
        <th *matHeaderCellDef mat-header-cell mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14">Modelo</th>
        <td *matCellDef="let element" mat-cell class="mat-body-1">{{element.modelo}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14">Acción</th>
        <td *matCellDef="let element" mat-cell class="mat-body-1">
          <button (click)="editTipologia(element.id)" color="primary" mat-icon-button matTooltip="Editar tipología">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteTipologia(element.id)" color="warn" mat-icon-button matTooltip="Eliminar tipología">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

    <mat-paginator #matPaginatorTableTipologias [length]="tipologias?.length" [pageSizeOptions]="[5, 10, 25, 100]"
      [pageSize]="5">
    </mat-paginator>

  </div>
</div>