<mat-nav-list>
  <a (click)="seeDetails()" mat-list-item>
    <mat-icon matListIcon>list</mat-icon>
    <span mat-line>Detalles</span>
  </a>
  <a (click)="bsRef.dismiss()" [routerLink]="['/usuarios/edit', data.user.id]" mat-list-item>
    <mat-icon matListIcon>edit</mat-icon>
    <span mat-line>Editar</span>
  </a>
  <a (click)="changePassword()" mat-list-item>
    <mat-icon matListIcon>vpn_key</mat-icon>
    <span mat-line>Cambiar contraseña</span>
  </a>
  <a (click)="delete()" mat-list-item>
    <mat-icon matListIcon color="warn">delete</mat-icon>
    <span mat-line>Eliminar</span>
  </a>
</mat-nav-list>