<app-page (addClicked)="add()" (refreshClicked)="loadData()" title="Listas de reproducción">
  <ng-container filters>
    <form [formGroup]="filtersForm">
      <div class="flex flex-col md:flex-row items-center md:space-x-4">
        <mat-form-field floatLabel="auto">
          <mat-label>Canales</mat-label>
          <mat-select formControlName="canal_nombre_raw">
            <mat-option [value]="''">Todos</mat-option>
            <mat-option *ngFor="let canal of canales" [value]="canal.nombre">{{canal.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field floatLabel="auto">
          <mat-label>Filtrar...</mat-label>
          <input formControlName="nombre__wildcard" matInput type="text">
        </mat-form-field>
      </div>
    </form>
  </ng-container>
  
  <ng-container content>
    <div class="hidden lg:block">
      <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>

      <table (matSortChange)="sortBy($event)" [dataSource]="playlists" class="w-full" mat-table matSort>

        <ng-container matColumnDef="nombre">
          <th *matHeaderCellDef mat-header-cell>Nombre</th>
          <td *matCellDef="let element" mat-cell>
            <span>{{element.nombre}}</span>
          </td>
        </ng-container>

        <!-- Usuario Column -->
        <ng-container matColumnDef="fecha">
          <th *matHeaderCellDef mat-header-cell>Fecha</th>
          <td *matCellDef="let element" mat-cell>
            <span>{{element.fecha_creacion | date: 'dd-MM-yyyy'}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="tiempo_creacion">
          <th *matHeaderCellDef mat-header-cell>Tiempo creación</th>
          <td *matCellDef="let element" mat-cell>
            <span>Hace {{element.tiempo_creacion}}</span>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="canal">
          <th *matHeaderCellDef mat-header-cell>Canal</th>
          <td *matCellDef="let element" mat-cell>
          <span>
        {{ element.canal.nombre }}
          </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="operaciones">
          <th *matHeaderCellDef mat-header-cell>Operaciones</th>
          <td *matCellDef="let element" mat-cell>
            <button (click)="edit(element)" mat-icon-button matTooltip="Editar canal">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="eliminar(element.id)" color="warn" mat-icon-button matTooltip="Eliminar Canal">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="block lg:hidden mat-card">
      <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>

      <mat-action-list>
        <mat-list-item (click)="openBottomSheet(playlist)" *ngFor="let playlist of playlists"
                       [class.hidden-video]="!playlist.publicado" class="mat-card" style="height: auto">
          <mat-icon matListIcon>playlist_play</mat-icon>
          <h3 class="font-weight-bold" matLine>{{playlist.nombre}}</h3>
          <h3 class="font-weight-bold" matLine>{{playlist.canal.nombre}}</h3>
          <h3 class="text-muted" matLine>Hace {{playlist.tiempo_creacion}}</h3>
        </mat-list-item>
      </mat-action-list>
      <mat-paginator (page)="paginate($event)" [length]="total" [pageSizeOptions]="[10, 20]" class="mt-3"
                     showFirstLastButtons></mat-paginator>
    </div>
  </ng-container>
</app-page>
