<form [formGroup]="form" class="flex flex-col">
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input type="text" formControlName="nombre" matInput>
    <mat-error *ngIf="form.get('nombre').hasError('required')">Nombre requerido.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Descripción</mat-label>
    <textarea type="text" formControlName="descripcion" rows="5" matInput></textarea>
    <mat-error *ngIf="form.get('descripcion').hasError('required')">Descripción requerido.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Precio</mat-label>
    <input type="text" formControlName="precio" matInput mask="0*.00">
    <mat-error *ngIf="form.get('precio').hasError('required')">Precio requerido.</mat-error>
  </mat-form-field>

</form>
<div class="flex sm:flex-row sm:items-center sm:justify-end sm:gap-5">
  <button color="warn" mat-flat-button routerLink="/plan">Cancelar</button>
  <button (click)="save()" color="primary" mat-flat-button>Guardar</button>
</div>