<h2 mat-dialog-title>Usuarios suscritos </h2>
<mat-dialog-content class="mat-typography">
  <mat-list>
    <mat-list-item *ngFor="let subscription of data.subscriptions">
      <h2 class="font-weight-bold" matLine> {{subscription.usuario.username}} </h2>
      <h3 class="text-muted" matLine> {{subscription.fecha | date: 'd/L/yyyy h:mm a'}} </h3>


    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="flex justify-between mat-typography items-center w-full">
    <button color="warn" mat-button mat-dialog-close>Cerrar</button>
    <span class="font-weight-bold">Total: {{data.total}} </span>

  </div>
</mat-dialog-actions>
