<app-page (refreshClicked)="loadData()" [showAddBtn]="false" title="Visitas">
  <ng-container filters>
    <form [formGroup]="filters">
      <div class="responsive-section">
        <!--  <mat-form-field appearance="fill">
          <mat-label>Fecha Inicio</mat-label>
          <input matInput [ngxMatDatetimePicker]="picker" formControlName="fecha__gte">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false" [stepHour]="true"
                                   [stepMinute]="true" [stepSecond]="false" [touchUi]="false" [enableMeridian]="true" [disableMinute]="false" [hideTime]="false">
            
            <ng-template>
              
              <span>OK</span>
            </ng-template>
          </ngx-mat-datetime-picker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Fecha Fin</mat-label>
          <input matInput [ngxMatDatetimePicker]="pickerEnd" formControlName="fecha__lte">
          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerEnd [showSpinners]="true" [showSeconds]="false" [stepHour]="true"
                                   [stepMinute]="true" [stepSecond]="false" [touchUi]="false" [enableMeridian]="true" [disableMinute]="false" [hideTime]="false">
            
            <ng-template>
              
              <span>OK</span>
            </ng-template>
          </ngx-mat-datetime-picker>
        </mat-form-field> -->
        <mat-form-field appearance="fill">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="valor">
            <mat-option [value]="''">Todos</mat-option>
            <mat-option [value]="'true'">Me gusta</mat-option>
            <mat-option [value]="'false'">No me gusta</mat-option>
          </mat-select>
        </mat-form-field>
        <ng-select (change)="selectPublication($event)" (close)="loadPublicaciones('')" (search)="searchPub($event)"
          [clearSearchOnAdd]="true" [multiple]="false" [searchable]="true" appearance="fill" bindLabel="nombre"
          class="w-1/4" placeholder="Publicaciones">
          <ng-option *ngFor="let pub of pubList" [value]="pub">{{pub.nombre}}</ng-option>
        </ng-select>
      </div>
    </form>
  </ng-container>

  <ng-container content>
    <h1 class="mt-4">Total de visitas: <span class="text-muted">{{totalCount}}</span></h1>

    <!--  <mat-progress-bar *ngIf="loaders.get$| async" mode="query"></mat-progress-bar> -->
    <table [dataSource]="votes" class="w-full" mat-table>
      <ng-container matColumnDef="direccion">
        <th *matHeaderCellDef mat-header-cell> Dirección</th>
        <td *matCellDef="let element" mat-cell> {{element.direccion_ip}} </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th *matHeaderCellDef mat-header-cell> Usuario</th>
        <td *matCellDef="let element" mat-cell> {{element.usuario?.username}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th *matHeaderCellDef mat-header-cell> Fecha</th>
        <td *matCellDef="let element" mat-cell>
          <div class="flex flex-column">
            <span class="font-bold">{{element.fecha | date: 'dd/MM/yy'}}</span>
            <span>{{element.fecha | date: 'hh:mm a'}}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="video">
        <th *matHeaderCellDef mat-header-cell> Publicación</th>
        <td *matCellDef="let element" mat-cell> {{element.publicacion.nombre}} </td>
      </ng-container>
      <ng-container matColumnDef="operations">
        <th *matHeaderCellDef mat-header-cell> Operaciones</th>
        <td *matCellDef="let element" mat-cell>
          <div class="buttons">
            <button color="warn" mat-icon-button matTooltip="Eliminar voto">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns;sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" class="text-center" colspan="3">Sin datos</td>
      </tr>
    </table>
    <mat-paginator #matPaginator (page)="paginate($event)" [length]="totalCount" [pageSizeOptions]="[10, 30, 50, 75]"
      [pageSize]="10" showFirstLastButtons>
    </mat-paginator>
  </ng-container>
</app-page>