<h2 mat-dialog-title>{{data.operation === 'ADD' ? 'Adicionar ' : 'Editar '}}género</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="flex flex-col">
    <mat-form-field floatLabel="auto">
      <mat-label>Nombre</mat-label>
      <input formControlName="nombre" matInput type="text">
      <mat-error *ngIf="form.get('nombre').hasError('required')">
        El nombre es requerido.
      </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="auto" appearance="outline">
      <mat-select formControlName="tipo">
        <mat-option value="ci">Cine</mat-option>
        <mat-option value="mu">Música</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button (click)="save()" [disabled]="form.invalid" color="primary" mat-button>Guardar</button>
</mat-dialog-actions>