.full-width-table {
  width: 98%;
  margin: 25px auto;
}

table {
  width: 100%;
}


.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail {
  height: 48px;
  width: 48px;

  & img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

}


.mat-column-select {
  width: 20px;
}

.username, .thumbnail {
  float: left;
}


.mat-column-first_name {
  max-width: 100px;
}

.hidden-video{
  border-left: 3px solid red;
}
