<h2 mat-dialog-title>Reproducciones</h2>
<mat-dialog-content class="mat-typography">
  <mat-list>
    <mat-list-item *ngFor="let reproduction of data.reproductions">
      <h2 class="font-weight-bold" matLine> {{reproduction.usuario.username}} </h2>
      <h3 class="text-muted" matLine> {{reproduction.fecha | date: 'd/L/yyyy h:mm a'}} </h3>


    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="flex justify-between mat-typography items-center w-full">
    <button color="warn" mat-button mat-dialog-close>Cerrar</button>
    <span class="font-weight-bold">+ {{data.total - data.reproductions.length}} anónimas</span>

  </div>

</mat-dialog-actions>